.wrapper {
    overflow-y: scroll;
   overflow: auto;
    background-color: #031a2d !important;
    color:white;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
}
.codeWrapper {
    padding: 5px;
    border: 1px solid white;
    overflow: auto;
    max-height: 90vh;
    width: 100%;
}